@import '@styles/media/mixin';

// desktop (1024px ~
.exit-layout {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .exit-title {
    text-align: center;
    width: 960px;
    margin-bottom: 32px;

    .title-txt {
      font-size: 48px;

      background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .interview-detail-container {
    width: 920px;
    max-height: 420px;

    background-color: #fff;
    border-radius: 15px;
    overflow-y: auto;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 8px;
        text-align: center; // 가운데 정렬
      }

      thead {
        th {
          position: sticky; // 제목 고정
          top: 0;

          border-bottom: 1px solid #ccc;
          background-color: #fff;
        }
      }

      tbody {
        .border-center {
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }

        td {
          text-align: center; // 가운데 정렬
          border-bottom: 1px solid #ccc; // 하단 경계선 설정
        }

        & tr:last-child td {
          border-bottom: none;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 5.75px;
      background-color: transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      height: 200px;
      border-radius: 10px;
      background-color: #0000004d;
    }
  }

  .navigation-container {
    display: flex;
    align-items: center;

    margin-top: 16px;

    .w-btn {
      font-size: 16px;
      margin: 20px;
      width: 96px;
      text-align: center;

      position: relative;
      border: none;
      display: inline-block;
      padding: 15px 30px;
      border-radius: 15px;
      font-family: 'paybooc-Light', sans-serif;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      font-weight: 600;
      transition: 0.25s;

      &:hover {
        letter-spacing: 2px;
        transform: scale(1.2);
        cursor: pointer;
      }

      &:active {
        transform: scale(1.5);
      }
    }

    .w-btn-blue {
      background-color: #6aafe6;
      color: #fff;
    }

    .navigation-info {
      width: 360px;
      font-size: 16px;
    }
  }
}

// tablet (768 ~ 1023px)
@include tablet {
  .exit-layout {
    .exit-title {
      width: 720px;
      height: 36px;

      .title-txt {
        font-size: 36px;
      }
    }

    .interview-detail-container {
      width: 720px;
      max-height: 420px;

      border-radius: 10px;

      table {
        th,
        td {
          padding: 8px;
        }
      }
    }

    .navigation-container {
      margin-top: 32px;

      .w-btn {
        font-size: 12px;
        margin: 10px;
        width: 64px;

        padding: 12px 24px;
        border-radius: 7px;
      }

      .navigation-info {
        width: 240px;
        font-size: 12px;
      }
    }
  }
}

// mobile (~ 767px)
@include mobile {
  .exit-layout {
    .exit-title {
      width: 312px;
      height: 36px;

      margin-bottom: 48px;

      .title-txt {
        font-size: 24px;
      }
    }

    .interview-detail-container {
      width: 360px;
      max-height: 320px;

      border-radius: 7px;

      table {
        font-size: 12px;

        th,
        td {
          padding: 8px;
        }
      }
    }

    .navigation-container {
      .w-btn {
        font-size: 12px;
        margin: 10px;
        width: 64px;

        padding: 10px 20px;
        border-radius: 7px;

        &:active,
        &:hover {
          transform: none;
        }
      }

      .navigation-info {
        display: none;
      }
    }
  }
}
