@import '@styles/media/mixin';

// desktop (1024px ~
.interview-layout {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 64px;

  .interviewer-image {
    width: 744px;
  }
}

// tablet (768 ~ 1023px)
@include tablet {
  .interview-layout {
    gap: 48px;

    .interviewer-image {
      width: 744px;
    }
  }
}

// mobile (~ 767px)
@include mobile {
  .interview-layout {
    gap: 32px;

    .interviewer-image {
      width: 396px;
    }
  }
}
